{% include 'header.html' %}
<center>
    <br>
    <hr>
    <img src="{{object.image.url}}" alt="" width="400" height="300">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{object.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{object.quantity}}</h6>
    <p class="card-text">{{object.description}}</p>
    <p class="card-link">{{object.genre}}</p>
    <div class="btn-group-vertical" role="group" aria-label="Вертикальная группа кнопок">
    </div>
    <button type="button" class="btn btn-dark"><a href="/book/{{object.id}}/update" class="text-reset" >Изменить данные</a></button>
    <button type="button" class="btn btn-dark"><a href="/book/{{object.id}}/delete" class="text-reset">Удалить пост</a></button>
    <p>Дата публикации: {{object.created_dates}}</p>
    <p>Дата обновления: {{object.updated_dates}}</p>
  </div>
</div>
    <br>
    <div class="p-3 mb-2 bg-info  text-white" style="width: 27rem;">
    <table border="2">
        <tr>
            <td>Рейтинг:</td> <td>Оценка:</td> <td>&nbsp;&nbsp;&nbsp;Комментарий:</td>
        </tr>
        {% for j in object.comment_object.all %}
        <tr>
            <td>&nbsp;&nbsp;&nbsp;{{j.created_date}}</td> <td>&nbsp;&nbsp;&nbsp; {{j.rate}}</td> <td>&nbsp;&nbsp;&nbsp;{{j.comment}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</center>
{% include 'footer.html' %}
