{% include 'header.html' %}
<center>
    <br>
    <hr>
    <img src="{{object.image.url}}" alt="" width="400" height="300">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{object.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{object.quantity}}</h6>
    <p class="card-text">{{object.description}}</p>
    <p class="card-link">{{object.genre}}</p>
    <div class="btn-group-vertical" role="group" aria-label="Вертикальная группа кнопок">
        <link rel="stylesheet" href="/css/style.css">
            <div class="rating" data-total-value="0">
        <div class="rating__item" data-item-value="5">★</div>
        <div class="rating__item" data-item-value="4">★</div>
        <div class="rating__item" data-item-value="3">★</div>
        <div class="rating__item" data-item-value="2">★</div>
        <div class="rating__item" data-item-value="1">★</div>

                <script src="/js/scripts.js"></script>
    </div>
    <button type="button" class="btn btn-dark"><a href="/book/{{object.id}}/update" class="text-reset" >Изменить данные</a></button>
    <button type="button" class="btn btn-dark"><a href="/book/{{object.id}}/delete" class="text-reset">Удалить пост</a></button>
  </div>
</div>
    <br>
</center>

{% include 'footer.html' %}