{% include 'header.html' %}
<center>
    <br>
    <hr>
    <img src="{{post_id.image.url}}" alt="" width="400" height="300">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{post_id.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{post_id.quantity}}</h6>
    <p class="card-text">{{post_id.description}}</p>
    <p class="card-link">{{post_id.description}}</p>
    <p class="card-link">{{post_id.genre}}</p>
    <div class="btn-group-vertical" role="group" aria-label="Вертикальная группа кнопок">
    <button type="button" class="btn btn-dark"><a href="/blog/{{post_id.id}}/update" class="text-reset" >Изменить данные</a></button>
    <button type="button" class="btn btn-dark"><a href="/blog/{{post_id.id}}/delete" class="text-reset">Удалить пост</a></button>
  </div>
</div>
    <br>
</center>

{% include 'footer.html' %}